@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #00040f;
  font-size: 16px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.App {
  padding: 1.875rem 8.463125rem;
}
/* Header Components */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide-right-side {
  display: none;
}
.nav-items {
  display: flex;
  gap: 3.5rem;
}
.nav-item {
  color: #c0b3c5;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s linear;
}
.nav-item:hover {
  color: #fff;
}
.drop-down {
  display: none;
}

/* Hero Components */
@media only screen and (max-width: 748px) {
  body {
    font-size: 14px;
  }
  .App {
    padding: 1.25rem 1.5rem;
  }
  .nav-logo {
    width: 9.375rem;
  }
  .menu-btn {
    cursor: pointer;
  }
  .hide-right-side {
    display: block;
  }
  .right-side {
    display: none;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
  .drop-down {
    display: block;
    overflow: hidden;
    height: 8rem;
    -webkit-transition: height 0.3s ease;
    transition: height 0.8s ease;
  }

  .close-items {
    height: 0px;
  }
}
